.NewCollection {
  display: flex;
  justify-content: center;
  background-color: #ffe6d7;
  position: relative;
}
.backImage {
  width: 1200px;
  height: 500px;
  background-image: url(../../assets/image/newCollection.png);
  background-size: cover;
}
.shopBut{
    background-color: #17696a;
    border: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}
.collecText{
    font-size: 18px;
    margin-bottom: 10px;
}
.headerText{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.content{
    position: absolute;
    top: 20%;
    left: 30%;
}