/* Summary.module.css */

.general {
    display: flex;
    width: 1250px ;
}

.mainContainer {
    margin: 0 100px;
    width: 740px;
    display: flex;
}

.summary {
    flex: 1;
    padding: 25px;
    background-color: rgba(244, 245, 246, 1);
    border-radius: 4px;
    margin-bottom: 25px;
    
}

.summaryTitle {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 25px;
}

.summaryItem {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}



.summaryItemText {
    font-weight: 200;
    font-size: 16px;

}
.totalSummaryItemText{
    font-size: 20px;
    font-weight: 400;
}
.totalSummaryItemPrice {
    font-size: 20px;
    font-weight: 400;

}

.sumWrapper{
    width: 390px;
    position: sticky;
    top: 2em;

}

.checkoutButton {
    width: 390px;
    padding: 10px;
    background-color: rgba(23, 105, 106, 1);
    color: white;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

hr {
    background-color: rgba(208, 208, 208, 0.734);
    height: 1px;
    width: 390px;
    margin-left: -25px;
}

/* reviev */


.checkout{
    width: 740px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout h2 {
    font-size: 45px;
    font-weight: bold;
}

.checkout a {
    color: rgba(23, 105, 106, 1);
    font-weight: 700;
}


.singIn{
    display: flex;
    background-color: rgba(23, 105, 106, 0.06);
    padding-left: 20px;
    border: 1px solid rgba(23, 105, 106, 0.25);
    border-radius: 4px;
    margin-bottom: 30px;

}

.singIn p {
    color: rgba(23, 105, 106, 1);
    margin-left: 10px;
}

.singIn a {
    color: rgba(23, 105, 106, 1);
    font-weight: 600;
}

.line{
    border: 1px solid rgba(229, 232, 237, 1);
    margin-bottom: 30px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 25px;
}

/* Clothes */

.clothesContainer {
    background-color: rgba(244, 245, 246, 1);
    border-radius: 4px ;
    
}

.cloth {
    padding: 24px;
    border-bottom: 1px solid rgba(229, 232, 237, 1);
    display: flex;
}

.cloth img {
    width: 80px;
    margin: 0 22px;
}

.clothName {
    font-size: 14px;
    font-weight: bold;
}

.clothProp p {
    font-size: 12px;
    color: rgba(120, 122, 128, 1) ;
}

.clothProp span {
    color: rgba(66, 69, 81, 1);
}

.counterBlock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgba(215, 218, 221, 1);
    color: rgba(66, 69, 81, 1);
    margin: 0 40px;
  }
  .counterBlock button {
    background-color: inherit;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
  }

  .infoBlock1 {
    display: flex;
    align-items: center;
    margin-bottom: auto;
  }

  .discountPrice {
    color: #FF4242;
    font-size: 26px;
  }
  .price {
    color: #787A80;
    font-size: 12px;
    text-decoration:line-through;
  }
  .discount {
    background-color: #FF4242;
    color: white;
    font-size: 16px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .buttons{
      margin-left: 30px;
  }
  .buttons img{
      width: 15px;
      margin: 0;
      cursor: pointer;
  }

  .buttons div {
      display: flex;
      font-size: 12px;
  }

  .buttons button {
      color: rgba(23, 105, 106, 1);
      border: 1px solid rgba(23, 105, 106, 1);
      padding: 0 24px;
      line-height: 36px;
      border-radius: 4px;
      cursor: pointer;
  }
  .buttons > div {
      margin-top: 20px;
      line-height: 36px;
      font-weight: bold;
      font-size: 12px;
      color: rgba(66, 69, 81, 1);
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .subTotal{
    text-align: right;
    padding: 24px;
    font-size: 18px;
    font-weight: bold;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: space-between;
  }
  
  .inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
    margin-bottom: 8px;
  }
  
  .inputLabel {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgba(66, 69, 81, 1);
    font-weight: 200;
  }
  
  .inputField {
    width: 350px;
    padding: 15px;
    font-size: 16px;
    font-weight: 200;
    color: black;
    border: 1px solid rgba(215, 218, 221, 1);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .inputField:focus {
    outline: none;
    border-color: dodgerblue;
  }

  .checkboxWrapper {
      display: flex;
      margin: 32px 0;
      gap: 10px;
  }

  
.deliveryMethods {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .deliveryMethod {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .deliveryMethods{
      gap: 30px;
  }
  
  
  /* Стили для радио-кнопки */
  .deliveryMethod input[type="radio"] {
    margin: 0;
    width: 16px; 
    height: 16px; 
    background: inherit; 
    border-radius: 50%; /* Круглая форма радио-кнопки */
    border: 1px solid rgba(23, 105, 106, 1);
    appearance: none; /* Удалить стандартный стиль */
    outline: none;
    cursor: pointer;
  }
  
  /* Стили для check indicator */
  .deliveryMethod input[type="radio"]::before {
    content: '';
    display: block;
    width: 8px; 
    height: 8px; 
    background: rgba(23, 105, 106, 1); 
    border-radius: 50%; 
    position: relative;
    top: 3px; 
    left: 3px; 
    visibility: hidden; 
  }
  
  /* Стили для радио-кнопки в состоянии "checked" */
  .deliveryMethod input[type="radio"]:checked::before {
    visibility: visible; /* Показать check indicator при выборе */
  }

  .priceDelivery {
    margin-left: auto; 
    color: rgba(66, 69, 81, 1);
    font-size: 16px;
    font-weight: 400;

  }

  label {
    font-size: 16px;
    font-weight: thin;
    color: rgba(66, 69, 81, 1);
  }

  