.rod {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 5%;
    z-index: 999;
    background-color: white;
}
.content {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-left: 200px;
}
.category {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 180px;
    height: 427px;
  
}
.text {
    margin-bottom: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: start;
}
.line {
    border: 1px  solid rgb(170, 168, 168);
    height: 417px;
    margin-left: 67px;
    
}
.content1 {
    margin-left: 68px;
}
.img {
    margin-bottom: 16px;
    width: 285px;
    height: 285px;
}
.school {
    font-size: 14px;
    color: #424551;

}
.offers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 36px;
    border: 1px solid #17696A;
    border-radius: 4px;
    color: #17696A;
    margin: 0;
   
    
}
