.img {
  width: 250px;
  height: 350px;
}
.cart {
  display: flex;
  justify-content: space-around;
  width: 900px;
  flex-wrap: wrap;
}
.log {
  position: absolute;
  bottom: 28%;
  right: 5%;
  padding: 5px;
  border: 2px solid white;
  border-radius: 55%;
  background-color: white;
}
.logo {
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
}
.WrapperCart{
  display: flex;
  justify-content: center;
}
.flexBlock{
  display: flex;
  justify-content: space-between;
}
.priceText{
  font-size: 18px;
  font-weight: 600;
}
.deleteText{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}