.img {
  width: 250px;
  height: 350px;
}
.cart {
  display: flex;
  justify-content: space-around;
}
.log {
  position: absolute;
  bottom: 28%;
  right: 5%;
  padding: 5px;
  border: 2px solid white;
  border-radius: 55%;
  background-color: white;
}
.logo {
  position: relative;
}
